*{
	margin:0;
	padding:0;
	list-style:none;
}
.econo_data{
	height:369px;
	width:330px;
	border:1px solid #e3e3e3;
	padding:0 5px;
	font-family: "微软雅黑";
	font:12px/1.5 Microsoft YaHei,Tahoma,Helvetica,"SimSun",sans-serif;
	margin-top:10px;
}
.data_table{
	width:100%;
	table-layout:fixed;
}
.data_table th{
	font-size: 14px;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	height: 38px;
	line-height: 38px;
	background: #F7F7F7 none repeat scroll 0% 0%;
	text-align: center;
	font-weight: normal;
}
.data_table td{
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    text-align:center;
    border-bottom:1px solid #e3e3e3;
}
.blue_back,
.tit_span{
	background-color:#005bac;
}
.blue_back{
	width: 45px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    background: #005bac;
}
.tit_span{
	font-size:11px;
	margin-right:5px;
	padding:0 3px;
}
.data_top_div{
	line-height:38px;
	font-size:14px;
	padding-left:6px;	
	height:38px;
}
.data_top_div a{
	float:left;
}
.table_title_a{
	color:#215487;
	font-weight:bold;
	text-decoration:none;
}
.data_top_div .date_span_a{
	float:right;
	font-size:12px;
	color:#888;
	margin-right:5px;
	font-weight:bold;
}
.td_green{
	color:#0f6f05;
}
.td_blue{
	color:#0000ff;
}
.td_red{
	color:#ff0000;
}
.data_table .last_tr td{
	border:none;
}