body{
    font-size:1.25em;
    font-family:"Helvetica","Microsoft YaHei";
    color:#373737;
    background-color:#ededed;
}
*{
    margin:0;
    padding:0;
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
.content{
    width:100%;
    padding-top: 0.8em;
    margin:0 auto;
    padding-bottom:10em;
}
.content_ul{
    border-top:1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb;
}
.content_ul li{
    background-color:#fff;
    padding-left:1.3em;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
}
.content_ul li:last-child .ques_div{
    border-bottom:none;
}
.content_ul li.active{
    border-color:#f1f1f1;
    background-color:#f1f1f1;
}
.ques_div{
    font-size:1.4em;
     line-height:2.1428em;
     padding:0.5714em 2.1428em 0.5714em 0;
     border-bottom:1px solid #e6e6e6;
     background:url("../imgs/arr-right.jpg") no-repeat 97% center;
     background-size:1em;
 }
.noBorder{
    border:none;
}
.arr_down{
    background:url("../imgs/arr-down.jpg") no-repeat 97% center;
    background-size:1em;
}
.ans_div{
    font-size:1.3em;
    line-height:1.8461em;
    padding:0.5384em 0.8461em 0.5384em 0;
    display:none;
    color:#969696;
}
