body{
    font-size:1.25em;
    font-family:"Helvetica","Microsoft YaHei";
    color:#525252;
    background-color:#fafafa;
}
*{
    margin:0;
    padding:0;
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
.content{
    width:54em;
    margin:0 auto;
}
img{
    width:100%;
    height:100%;
}
/*header*/
.header{
    height:36.9em;
    background-color:#fb4747;
    padding-top:6.15em;
}
/*middle*/
.header-title{
    width:41.85em;
    height:12.25em;
    margin-left:6.35em;
}
.iphoneDown{
    width:32.75em;
    height:6.55em;
    margin-top:3.75em;
    margin-left:11.15em;
    cursor:pointer;
}
.androidDown{
    width:32.75em;
    height:6.55em;
    margin-top:2.9em;
    margin-left:11.15em;
    cursor:pointer;
}
.pic1{
    height:56.7em;
    width:54em;
}
/*footer*/
.footer{
    height:21.7em;
    background-color:#e7e7e7;
    padding-top:3.4em;
    padding-left:9.45em;
}
.foot-iphone{
    height:6.55em;
    width:35.4em;
    cursor:pointer;
}
.foot-android{
    height:6.55em;
    width:35.4em;
    margin-top:2.6em;
    cursor:pointer;
}

