*{
	margin:0;
	padding:0;
	list-style:none;
}
.econo_data{
	float:right;
	width:785px;
	font:12px Microsoft YaHei;
	color:#333;
}
.data_table{
	width:100%;
	margin-bottom:8px;
	border: #e6e6e6 solid 3px;
    margin-bottom: 8px;
    cellspacing:0;
    line-height: 28px;
    background: #FFF;
    border-collapse: collapse;
    text-align:center;
}
.table_title{
	background:url("time.png") repeat-x 0 0;
	color:#fff;
	font-size: 14px;
    font-weight: bold;
}
.data_table th{
	font-weight:normal;
}
.tr_gray_back{
	background-color:#e7eaf0;
}
.w86{
	width:10.9974%;
}
.w90{
	width:11.5089%;
}
.w259{
	width:33.1202%;
}
.w106{
	width:13.5549%;
}
.w82{
	width:10.4859%;
}
.w107{
	width:13.6828%;
}
.w52{
	width:6.6496%;
}
.td_green{
	color:#0f6f05;
}
.td_blue{
	color:#0000ff;
}
.td_red{
	color:#ff0000;
}
.dates{
	width: 100%;
    border: 0;
    border-collapse: collapse;
    clear: both;
    margin-bottom:10px;
}
.dates td{
	width: 95px;
    line-height: 27px;
    text-align: center;
    border: #dedede solid 1px;
    background: url(dates_bg.png) repeat-x;
    color: #3a3a3a;
}
.dates td a{
	text-decoration:none;
	color:#3a3a3a;
}
.dates td a:hover{
	color: #ba2636;
    cursor: pointer;
    font-weight:bold;
}
.today_date{
	width:783px;
	height:29px;
	border: #e6e6e6 solid 1px;
    border-bottom: #e6e6e6 solid 2px;
    margin-bottom:2px;
}
.today_date span{
	color: #010000;
    font-size: 14px;
    line-height: 29px;
    float: left;
}
.today_date img{
	padding: 0 20px;
    float: left;
}
.today_ec{
	padding-left: 15px;
    font-weight: bold;
}